{{- $dest := .Destination -}}
{{- $isAmazon    := or (strings.Contains $dest "amazon.com") (strings.Contains $dest "amzn.to") -}}
{{- $isExternal  := strings.HasPrefix $dest "http" -}}
{{- if $isAmazon -}}
<a href="{{ $dest }}" rel="nofollow sponsored noopener noreferrer" target="_blank"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- else if $isExternal -}}
<a href="{{ $dest }}" rel="noopener noreferrer" target="_blank"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- else -}}
<a href="{{ $dest }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- end -}}
